body{
  font-family: "Gill Sans", sans-serif;
  width: auto;
  height: auto;
}

#titre-page{
  color: black;
  font-size: 30px;
  font-weight: bold;
  padding: 1%;

}

.ssTitre{
  color: grey;
  font-size: 10px;
  font-style: italic;
  font-weight: bold;
  padding: 2%;
}

.head{
  text-align: center;
  /*background-color: purple;*/
  width: auto;
  height: 80px;
}

#centre{
  /*background-color: salmon;*/
  height: 400px;
  width: auto;
  padding: 3%;
  text-align: center;
  display: gride;
}

.btn_addproduct{
  background-color: green;
  border-radius: 50px;
  padding: 20px;
  color: #fff;
  text-decoration: none;
  font-size: 1.45em;
  margin: auto;
}
.animate
{
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
}

.action-button
{
	position: relative;
	padding: 10px 40px;
  margin: 0px 10px 10px 0px;
  float: left;
	border-radius: 10px;
	font-family: "Gill Sans", sans-serif;
	font-size: 25px;
	color: #FFF;
	text-decoration: none;
}

.green
{
	background-color: #82BF56;
	border-bottom: 5px solid #669644;
	text-shadow: 0px -2px #669644;
}

.action-button:active
{
	transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
	border-bottom: 1px solid;
}

/*.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}*/

#logo_dealer{
  height: 5%;
  width: 10%;
  margin-top: 3%;

}

#img_center{
  height: 35%;
  width: 15%;
  margin-top: 1%;
}

.img_prod{
  height: 80%;
  width: 60%;
}

.btn {

  border: none;
  font-size: 16px;
  cursor: pointer;
  height: 2%;
  width: 10%;
  margin: 1%;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: #c9c6c5;
  border-color: #c9c6c5;
}

.navbar{
  text-align: right;
}


.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 20%;
  margin:2%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;

}

.imageproduit{
  height: 200px;
  width: 200px;
}

#Product-card{
  margin-top: 2%;
}

#under_product{
  display: none;
  margin-top: 2%;
}

#selected_perso{
  display: none;
  margin-top: 2%;
}

#div_card{

  position: fixed;
  top:10px;
  left: 200px;
  border: black;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
  align-items: center;
  max-height: 95%;
  margin-top: 2%;
  overflow: scroll;
}

/*________________________*/

#btn_filtre{
  height: 10%;
  width: 80%;
  padding: 2%;
  margin-top: 5%;
  border-radius: 4px;
  background-color: #245ba3;
  color: white;
  font-size: 100%;
}

#div_filtre{
  background-color: #f7f7f7;
  width: 120px;
  height: 300px;
  text-align: center;
}

#dropdown-basic-button{
  background-color: #e8e8e8;
  float: left;
}

.close_modal{
  /*float: right;*/
  /*margin-right: 1.5%;*/
  /*margin-top: -1%;*/
  height: 5%;
  width: 8%;
  border: 0px solid black;
  border-radius: 5px;
  bottom: 5px;
  background-color: #245ba3;
  color: white;
  font-size: 100%;
  position: fixed;
  right: 1.5%;
  bottom: 1%;
}

/*#btn_close_modal{
  height: 5%;
  width: 8%;
  float: right;
  border: 0px solid black;
  border-radius: 5px;
  position: fixed;
  left: 5px;
  bottom: 5px;
  text-align: center;
  background-color: #245ba3;
  color: white;
  font-size: 100%;
}*/

.filterDiv {
  margin: 2px;
  display: none; /* Hidden by default */
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

